*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.album__list {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 50px auto;

  list-style: none;
}
.album__item {
  width: 190px;
}
