%mg-block-12 {
  margin-block: 12px;
}
.post__link {
  display: block;
  text-decoration: none;
  letter-spacing: 0.05em;
  color: black;
  transition: 0.25s;

  .post__img {
    display: block;
    max-width: 100%;

    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 5px;
  }

  .post__title,
  .post__author {
    @extend %mg-block-12;
  }

  .post__desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
  }

  &:hover .post__img {
    filter: grayscale(0.5);
  }
  &:hover .post__title,
  &:hover .post__author {
    color: rgb(20, 93, 141);
  }
}
