%center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  @extend %center;
  width: 100vw;
  height: 100vh;

  &__container {
    @extend %center;

    width: 200px;
    height: 200px;

    border-radius: 10px;
    cursor: pointer;
    transition: 0.25s;
  }
}
