.course {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.course__heading {
  font-size: 32px;
  margin: 28px 0;
}
.course__list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 30px;

  padding: 0;
  list-style: none;
}
